*{
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
}

header{
    background-color: #30261D;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 50px;
}
.img_logo{
    width: 14%;
}
.contenido_helados{
    width: 100%;
    height: 525px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.caja_helados{
    width: 78%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cajas_opciones{
    width: 25%;
    height: 100%;
    background-color: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
hr{
    width: 88%;
    height: 1px;
    background-color: black;
}
.helados_sabores{
    width: 200px;
    height: 30px;
}
.helados_envase{
    width: 200px;
    height: 30px;
}
.helados_cobertura{
    width: 200px;
    height: 30px;
}
.helados_tamano{
    width: 200px;
    height: 30px;
}

.boton_helados{
    width: 40%;
    height: 35px;
    font-size: 25px;
}
.boton_paletas{
    width: 35%;
    height: 20px;
    font-size: 15px;
}
.botones_helado{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.paletas{
    width: 100%;
    height: 100%;
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.cajas_paletas_especiales{
    background-color: tomato;
    width: 100%;
    height: 32%;
}
.cajas_paletas_crema{
    background-color:teal;
    width: 100%;
    height: 32%;
}
.cajas_paletas_agua{
    background-color:blueviolet;
    width: 100%;
    height: 32%;
}

.caja_carrito{
    width: 20%;
    height: 98%;
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.cajas_compras{
    width: 100%;
    height: 90%;
}

#numberE1,#numberE2,#numberE3,#numberE4,#numberC1,#numberC2,#numberC3,#numberC4,#numberA1,#numberA2,#numberA3,#numberA4{
    width: 60px;
    background-color: transparent;
    border: none;
}




/* BOTONES */
.switchBtn {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 34px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 78px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #8CE196;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}
.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}
